<tr>
<td style="width: 50%;">
		URL 
	</td>
	 <td>
		<select name="URL_MODE" class="combo_width">
	    <option value="uat">UAT</option>
		<option value="production">Production</option>
	 </select>
     </td>
</tr>